<div class="panel panel-primary">
  <div class="panel-heading">
    Your Products
  </div>

  <div class="panel-body">
    <% @products.each do |product| %>
    <div class="row">
      <div class="col-md-9">
        <h4><%= product.name %></h4>
        <%= form_for @order_item do |f| %>
          <div class="input-group">
            <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
            <div class="input-group-btn">
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.submit "Add to Cart", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>

  </div>
</div>
