<% if @products.blank? %>
  <br><br><br><br><h4 class="error">There are no products containing the term <%= params[:search] %>.</h4>
<% end %>

<body class="product-bg">
 <div class="product-body">
   <% @products.each do |product| %>
   <div class="col-sm-6 col-md-4">

     <div class="thumbnail">
       <div class="img-container">
         <div class="product-img-index"><%= image_tag product.image_url%></div>
       </div>
       <div class="caption">
         <div class="product-name"><%= product.name %></h4>
       </div>
       <h5>&euro; <%= sprintf('%.2f', product.price) %></h5>

        <!-- Add back in later as a partial description -->
        <!-- <p><%= product.description %></p> -->
        <div class="button-container">
          <p><%= link_to "view", product_path(product.id), class: "btn btn-primary" %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>

</div>
</body>
