<!DOCTYPE html>
<html>
  <head>
    <title>Guitarded</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Cherry+Swash:700|Cinzel:900|Coda:800|Corben:700|Oleo+Script+Swash+Caps:700|Racing+Sans+One|Sonsie+One" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
